################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OL_Bootcamp/FileContentIndex
/.vs
/Exercise_1/.vs
/Exercise_1/Exercise_1/bin/Debug/net7.0
/Exercise_1/Exercise_1/obj
/Exercise_1/Exercise_2/bin/Debug/net7.0
/Exercise_1/Exercise_2/obj
